/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#fff;outline:0;}
body{background:#fff;font-size: 16px;}
.clearfix:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clearfix{zoom:1;}
.height20{height: 20px;}
.height60{height: 60px;}
.height70{height: 70px;}
.height110{height: 110px;}
.height120{height: 120px;}
.height100{height: 100px;}
.mobileShow{display: none;}
.mobileHide{display: block;}

body,html{background: #272a2f;}


.topNav{
    z-index: 100;
    height: 60px;width: 100%;position: fixed;
    top:0;
    background: rgba(41,43,49,0.5);
}
.topNav img{
    width: 134px;
    height: 40px;
    display: block;
    margin-left: 14px;
    margin-top: 12px;
    float: left;
}
.icon-USDX_logo{color: #fff;}
.topNav ul{float: right;padding-top: 20px;padding-right: 60px;}
.topNav li {
    float: left;
    display: block;
    height: 28px;
    line-height: 28px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: center;
}
.topNav li a{
    font-size: 12px;
    color: #ffffff;
}
.topNav li a.active{
    color: #02f7f7;
}
.indexSection{
    width: 100%;
    height: 638px;

    background-color: #2c2f35;
}
.indexBox{
    width:800px;
    height:468px;
    margin: 0 auto;
    background-image: url("../images/index_bg.jpg");
    background-repeat: no-repeat;
    background-position: left top;

}
.indexBox h2{font-size: 60px;color: #fff;
    line-height:60px;}
.indexBox p{font-size: 20px;line-height: 24px;color: #fff;margin-top: 12px;}
.indexContent{
    padding-left: 493px;
    padding-top: 97px;
}
.whitePaper{
    font-size: 13px;
    color: #ffffff;
    display: block;
    border:1px solid #12a6a9;
    border-radius: 2px;
    width: 178px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    margin-top: 22px;
}
.whitePaper:hover{}

.adviserBox{
    background: #2b2e34;
    width:100%;
    padding-top: 58px;

}
.aboutUSDX{
    background: #2e3137;
    width: 100%;
    background-image: url("../images/about_bg.png");
    background-repeat: no-repeat;
    background-size: 1280px auto;
    background-position: center center;
}
.aboutUSDX .title{
    width: 492px;
    margin:  0 auto;
    color: #ffffff;
    font-size: 24px;
}
.aboutContent{
    width: 894px;
    height: 600px;
    margin:  0 auto;
    position: relative;
    .content{
        width: 420px;
        padding-left: 47px;
        padding-top: 86px;
        h2{
            font-size: 24px;
            color: #fff;
            font-weight: normal;
            line-height: 24px;

        }
        p{
            font-size: 13px;
            color: #fff;
            margin-top: 18px;
            line-height: 18px;
        }
        .line{
            height: 2px;
            width: 64px;
            background-color: #267474;
            margin-top: 18px;
        }
        .swiperBtn{display: block;float: left;width: 32px; height: 32px;}
        .swiperLeft{margin-right: 20px;margin-top: -3px;}
        .icon-right_arrow,.icon-left_arrow{font-size: 31px;color: #4a4f59;}
        .active{
            .icon-right_arrow,.icon-left_arrow{font-size: 31px;color: #05e1e3;}
        }
        .swiperRight{margin-left: 20px;margin-top: -3px;}
        .order{
            .number{
                float: left;
            }
            margin-top: 18px;
            .big_number_font{
                color: #04e0e0;
                font-size: 22px;
                font-weight: bold;
            }
            .icon-three{font-size: 26px;}
            .icon-two{font-size: 26px;}
            .small_number_font{
                color:#ffffff;
                font-size: 12px;
            }
            /*.big{
                color: #04e0e0;
                font-size: 26px;
            }*/
            .small{
                font-size: 13px;
                color: #fff;
            }

        }
    }
    .rightPicBox{position: absolute;
        right: 0;
        width: 457px;
        height: 394px;
        top:142px;
        .bottomBase{
            position: absolute;
            bottom: 26px;
            right: 0px;
            background-image: url("../images/phases/base_icon.png");
            background-repeat: no-repeat;
            width: 419px;
            height: 305px;
        }
        .topImage{
            position: absolute;
            bottom: 124px;
            right: 0px;
            background-image: url("../images/phases/phaseOne.png");
            background-repeat: no-repeat;
            background-size: 414px 350px;
            width: 414px;
            height: 350px;
        }
        .topTwoImage{
            bottom: 165px;
            right: -48px;
            background-image: url("../images/phases/phaseTwo.png");
            background-size: 470px 290px;
            width: 470px;
            height: 290px;
        }
        .topThreeImage{
            bottom: 149px;
            right: -38px;
            background-image: url("../images/phases/phaseThree.png");
            background-size: 470px 290px;
            width: 465px;
            height: 306px;
        }

    }

}
.phaseTwoDesc{
    padding-top: 10px;
    .psIconfont{
        color: #08d6d8;
        font-size: 15px;
        display: block;
        float: left;
        margin-top: 1px;
    }

    li{
        display: block;
        height: 15px;
        line-height: 15px;
        margin-top: 16px;

        span{
            float: left;
            margin-left: 12px;
            font-size: 14px;
            color: #fff;
        }
    }
}


.phaseTwoBox .rightPicBox .topImage{
    bottom: 150px;
    right: -40px;
    background-image: url("../images/phases/phaseTwo.png");
    background-size: 470px 290px;
    width: 470px;
    height: 290px;
}

.phaseThreeBox .content p{
    line-height: 22px;
}
.phaseThreeBox .rightPicBox .topImage{
    bottom: 135px;
    right: -26px;
    background-image: url("../images/phases/phaseThree.png");
    background-size: 470px 290px;
    width: 465px;
    height: 306px;
}

.aboutContent p{font-size: 13px;}

.partenersBox .title,.teamBox .title{height:40px;line-height: 40px;width: 466px;margin: 0 auto;}
.teamBox{
    background-color: #1e2023;
}
.teamBox .title{width: 352px;}


.teamHeader img{display: block; margin: 0 auto;}
.teamBox .teamMember{

}
.teamMember {width: 800px;margin: 0 auto; height: 1580px;}
.teamMember .itemOne{padding-left: 82px;position: relative;height: 313px;}
.teamMember .itemOne .intro{font-size: 15px;width: 228px;text-align: left;float: left;}
.itemOne .bigCapitial{position: absolute;width: 138px;height: 179px;display: block;
    background: url("../images/r_big_icon.png") no-repeat;
    left: 247px;
    top:134px;
}
.itemOne .teamPic{float: left;margin-left: 21px;}
.teamMember .itemTwo{height:438px;position: relative;float: right;padding-right: 82px;}
.teamMember .itemTwo .intro{font-size: 15px;width: 228px;text-align: left;}
.itemTwo  .teamPic{padding-top: 16px;}
.itemTwo .bigCapitial{position: absolute;width: 144px;height: 222px;display: block;
    background: url("../images/l_big_icon.png") no-repeat;
    right: 180px;
    top:230px;
}
.teamMember .itemThree{height: 444px;position: relative;padding-top: 60px;}
.teamMember .itemThree .intro{font-size: 15px;width: 228px;text-align: left;padding-left: 164px;}
.itemThree  .teamPic{padding-top: 90px;padding-left: 82px;}
.intro{
    .big_number_font{
        font-size: 22px;
        color: #fff;
        font-weight: bold;
    }
    .icon-two{font-size: 26px;}
    .icon-three{font-size: 26px;}
    .icon-four{font-size: 26px;}
    .small_number_font{
        font-size: 12px;
        color: #fff;

    }
}
.itemThree .bigCapitial{
    width: 145px;
    height: 142px;
    display: block;
    background: url("../images/m_big_icon.png") no-repeat;
    position: absolute;
    top:180px;
    left:0px;
}
.teamMember .itemFour{padding-left: 82px;position: relative;height: 313px;}
.teamMember .itemFour .intro{font-size: 15px;width: 228px;text-align: left;float: left;margin-top: 203px;}
.itemFour .bigCapitial{position: absolute;width: 144px;height: 165px;display: block;
    background: url("../images/a_big_icon.png") no-repeat;
    left: 304px;
    top:0px;
}
.itemFour .teamPic{float: left;margin-left: 21px;margin-top: 126px;}


.teamMember .big{font-size: 27px;}
.teamMember .small{font-size: 13px;}
.teamMember h2{color:#ffffff;margin-top: 5px;}
.teamMember p{font-size: 11px; color: #999999;line-height: 15px;margin-top: 15px;}


.partenersBox .title .line_icon,.teamBox .title .line_icon,.aboutUSDX .title .line_icon{background: url("../images/left_line_icon.png") no-repeat;
    background-size: 109px 1px;display: block;width: 109px;height: 40px; background-position: left center;}
.partenersBox .title .left_line,.teamBox .title .left_line,.aboutUSDX .title .left_line{float: left;}
.partenersBox .title span,.teamBox .title span,.aboutUSDX .title span{font-size: 34px;font-weight: bold;float: left;margin-left: 18px;margin-right: 18px;color: #fff;}
.partenersBox .title .right_line,.teamBox .title .right_line,.aboutUSDX .title .right_line{float: left;background-image: url("../images/right_line_icon.png");}
.partenersBox .itemContainer{
    padding-top: 26px;
    padding-bottom: 106px;
}
.partenersBox .itemContainer ul{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.partenersBox .itemContainer li{
    flex: 1;
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid #272a2f;
    background: #2c2f35;
    img{
        display: block;
        width: 100%;
    }
    &.active,&:active,&:hover{
        border: 1px solid #2c2f35;
        box-shadow: 3px 2.598px 12.18px 1.82px rgba(0, 0, 0, 0.067);
    }
}

.footerBox{
    background: #292b31;
    height: 298px;
    width: 100%;
    padding-top: 34px;
}

.bottomLogo img{display: block;width:216px;height: 65px; margin: 0 auto; }
.linkBox{width: 400px; margin: 0 auto;margin-top: 50px;}
/*.linkBox a{ float: left;width: 32px;height: 32px;
    background-image: url("../images/facebook_icon.png");
    background-repeat: no-repeat;
    margin-right: 29px;
}*/
.linkBox{
    .iconfont{
        font-size: 26px;
        color: #fff;
        margin-right: 29px;
    }
}
.linkBox a:hover{
    i{
        color:#06dde0;
    }
}
    /*
    .linkBox .icon_facebook{background-image: url("../images/icon/icon_facebook.png"); }
    .linkBox .icon_f{background-image: url("../images/icon/icon_f.png");}
    .linkBox .icon_msg{background-image: url("../images/icon/icon_msg.png");}
    .linkBox .icon_m{background-image: url("../images/icon/icon_m.png");}
    .linkBox .icon_github{background-image: url("../images/icon/icon_github.png");}
    .linkBox .icon_reddit{background-image: url("../images/icon/icon_reddit.png");}
    .linkBox .icon_medium{background-image: url("../images/icon/icon_medium.png");}*/

/*.linkBox .icon_facebook:hover{background-image: url("../images/icon/icon_facebook_active.png"); }
.linkBox .icon_f:hover{background-image: url("../images/icon/icon_f_active.png");}
.linkBox .icon_msg:hover{background-image: url("../images/icon/icon_msg_active.png");}
.linkBox .icon_m:hover{background-image: url("../images/icon/icon_m_active.png");}
.linkBox .icon_github:hover{background-image: url("../images/icon/icon_github_active.png");}
.linkBox .icon_reddit:hover{background-image: url("../images/icon/icon_reddit_active.png");}
.linkBox .icon_medium:hover{background-image: url("../images/icon/icon_medium_active.png");}*/

.linkBox a:last-child{margin-right: 0px;}
.footerBox .copyRight{color:#cccccc;font-size: 15px;text-align: center;margin-top: 54px;}



/*750*/
@media screen and (max-width: 720px) {
    .aboutContent .content {
        .swiperLeft,.swiperRight{display: none;}
    }
    .height_mobile_100{height: 100px;}
    .height_mobile_110{height: 0px;}
    .height_mobile_120{height: 30px;}
    .height_mobile_20{height: 20px;}
    .mobile_block{display: block;}
    .mobileShow{display: block;}
    .mobileHide{display: none;}
    .topNav{
        position: relative;
        height: 76px;
        background: transparent;
        img{
            height: 48px;
            width: auto;
            margin-top: 15px;
        }
        li{
            display: none;
        }
        .navBar{
            display: block;
            width: 23px;
            height: 17px;
            position: absolute;
            right: 18px;
            top:30px;
            background: url("../images/mobile/nav_bar_icon.png");
            background-repeat: no-repeat;
        }
        ul{
            position: absolute;
        }
    }
    .indexSection{
        .indexBox{margin-top: 50px;
            width: 352px;
            height: 468px;
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 342px auto;
            background-position: 32px top;

            .indexContent{
                padding: 0px;
                padding-top: 280px;
                padding-left: 32px;
                h2{
                    font-size: 52px;
                }
            }
            p{font-size: 18px;line-height: 21px;}
        }

    }
    .whitePaper{
        font-size: 12px;
        height: 38px;
        width: 152px;
    }
    .aboutUSDX{
        width: 100%;
        padding-bottom: 210px;
        .title{
            width: 336px;
            .line_icon{
                width: 60px;
                background-size: 60px auto;
            }
            span{
                font-size: 29px;
                font-weight: 500;
                margin-left: 10px;
                margin-right: 10px;
            }

        }
        .aboutContent{
            .content{
                h2{
                    font-size: 21px;
                    line-height: 23px;
                }
                p{
                    font-size: 12px;
                    line-height: 16px;
                    width: 312px;
                }
                .order{margin-top: 40px;}
            }
            .rightPicBox{
                left:0;
                top:120px;
                height: auto;
                .bottomBase{
                    width: 335px;
                    height: 244px;
                    left:0;
                    bottom: 0;
                    top:305px;
                }
                .topImage{
                    left:24px;
                    top:192px;
                    width: 331px;
                    height: 288px;
                    background-size: 331px 288px;
                }
            }


        }
        /*two*/
        .phaseTwoBox{
            .content{
                h2{
                    font-size: 21px;
                    line-height: 23px;
                }
                p{
                    font-size: 12px;
                    line-height: 16px;
                    width: 312px;
                }
                .order{margin-top: 40px;}
            }
            .rightPicBox{
                left:0;
                top:120px;
                height: auto;
                .bottomBase{
                    width: 335px;
                    height: 244px;
                    left:0;
                    bottom: 0;
                    top:305px;
                }
                .topImage{
                    left:24px;
                    top:240px;
                    width: 350px;
                    height: 213px;
                    background-size: 350px 213px;
                }
            }


        }
        /*three*/
        .phaseThreeBox{
            .content{
                h2{
                    font-size: 21px;
                    line-height: 23px;
                }
                p{
                    font-size: 12px;
                    line-height: 16px;
                    width: 312px;
                }
                .order{margin-top: 40px;}
            }
            .rightPicBox{
                left:0;
                top:120px;
                height: auto;
                .bottomBase{
                    width: 335px;
                    height: 244px;
                    left:0;
                    bottom: 0;
                    top:400px;
                }
                .topImage{
                    left:20px;
                    top:315px;
                    width: 350px;
                    height: 252px;
                    background-size: 350px 252px;
                }
            }
        }

    }
    .teamHeader{
        width: 100%;
        img{width: 92%; display: block; margin:  0 auto;}
    }
    .teamBox{
        .title{
            span{
                font-size: 29px;
            }
        }
        .teamMember{
            width: 100%;
            height: auto;
            .bigCapitial{display: none;}
            h2{margin-top: -4px;}
            p{margin-top: 10px;font-size: 9px;}
        }
        .itemOne{
            padding-left: 24px;
            padding-right: 24px;
            position: relative;
            height: auto;
            .intro{
                float: left;
                width: auto;
                padding-left: 136px;
                font-size: 13px;
            }
            .teamPic{
                position: absolute;
                margin: 0;
                img{
                    width: 104px;
                }
            }
        }
        .itemTwo{
            padding-left: 24px;
            padding-right: 24px;
            position: relative;
            height: auto;
            .intro{
                width: auto;
                padding-right: 120px;
                padding-top: 18px;
            }
            .teamPic{
                position: absolute;
                right:24px;
                margin: 0;
                top:0;
                img{
                    width: 104px;
                }
            }
        }
        .itemThree{
            padding-left: 24px;
            padding-right: 24px;
            position: relative;
            height: auto;
            margin-top: 140px;
            .intro{
                float: left;
                margin-top: -60px;
                width: auto;
                padding-left: 136px;
                font-size: 13px;
            }
            .teamPic{
                padding: 0;
                position: absolute;
                top:0;
                left:24px;
                margin: 0;
                img{
                    width: 104px;
                }
            }
        }
        .itemFour{
            padding-left: 24px;
            padding-right: 24px;
            position: relative;
            height: auto;
            .intro{
                width: auto;
                padding-right: 120px;
                padding-top: 0px;
                margin-top: 0px;

            }
            .teamPic{
                position: absolute;
                right:24px;
                margin: 0;
                top:0;
                img{
                    width: 104px;
                }
            }
        }


    }
    .partenersBox{
        .title{
            width: 328px;
            margin: 0 auto;
            span{
                font-size: 25px;
                margin-left: 9px;
                margin-right: 9px;

            }
            .line_icon{
                width: 74px;
            }
        }
    }
    .itemContainer{
        ul{
            padding-left: 24px;
            padding-right: 24px;
            li{

            }
        }
    }
    .footerBox{
        .bottomLogo{
            img{
                height: 56px;
                width: 186px;
            }
        }
        .linkBox{
            width: 302px;
            margin-top: 45px;
            a{
                .iconfont{
                    font-size: 20px;
                    margin-right: 22px;
                }
            }
            a:last-child{margin-right: 0px;}
        }
        .copyRight{font-size: 13px;}
    }
}
